.mainContainer{
	width:850px;
}
.favIcon{
	height:16px;
	width:16px;
	float:left;
	
	vertical-align: top;
	padding-bottom: -5px;
	padding-right:5px;
	padding-top:2px;

    background:url(images/fav.png) no-repeat 0 0;
}
#searchResults{
	width:400px;
	height:300px;
	margin-top:10px;
	border: 2px solid lightgray;
	overflow-y: auto;
	border-radius: 5px;
}
.nameContainer{
	padding: 5px;
	float:left;
	width: 95%;
	text-overflow:ellipsis;
}
.nameContainer a{
	float:left;
}
.resultRow{
	margin:0 auto;
}
.nameContainer:hover{
	color:black;
	font-weight: bold;
	border: 2px dashed lightgray;
	padding:2px;
	border-radius: 5px;
}
.categoryContainer{
	float:right;
	text-overflow:ellipsis;
}
#searchBox{
	width:400px;
	height:45px;
    font-size:24pt;
    border-radius: 5px;
    border: 2px solid gray;
}
#searchResultCount{
	font-weight: bold;
}

#favoritesContainer{
	width:400px;
	height:100px;
	overflow-y: auto;
	border: 2px solid gray;
}